{% for field in query %}
<html>
<head>
<style>
table {
    width:100%;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color: rgb(255, 255, 255);
}
table#t01 th {
    background-color: rgb(24, 73, 104);
    color: white;
}
</style>
</head>
<body>
    <div>
<table id="t01">
  <tr>
    <th>Nome</th>
    <th>Email</th> 
    <th>Telefone</th>
  </tr>
  <tr>
    <td>{{ field['nome']}}</td>
    <td>{{ field['email']}}</td>
    <td>{{ field['telefone']}}</td>
  </tr>

</table>
</body>  
</html>
{% endfor %}